body {
    margin: 0;
    padding: 0;
    font-family: "Geometria";
}

/*320+*/
.header-img{
    width: 320px;
    height: 221px;
    background: url("assets/img/header-img-320.png");
}

@font-face {
    font-family: "Geometria";
    src: url("assets/fonts/geometria_medium.otf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
